.card {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  padding-bottom: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: solid white;
  background-color: black;
  color: white;
}
select {
  height: 30px;
  width: 60px;
  border-radius: 8px;
  background-color: black;
  font-size: medium;
  color: white;
}

.main button {
  height: 25px;
  width: 25px;
  background-color: red;
  position: relative;
  right: -295px;
  bottom: 155px;
}
.main button:hover {
  background-color: darkred;
}
